In [8]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_excel("Liste_Raumsonden.xlsx")
df

,Nation oder,Name der Sonde,Typ,Missonsname/,Von,Bis,Status,Missionsziele
0,Sowjetunion,Lunik 1958A,Impaktor,Lunik,1958,1958,Erd(-orbit) nie verlassen,Erdmond
1,Sowjetunion,Lunik 1,Impaktor,Lunik,1959,1959,Beendet,Erdmond
2,Sowjetunion,Lunik 1959A,Impaktor,Lunik,1959,1959,Erd(-orbit) nie verlassen,Erdmond
3,Sowjetunion,Lunik 2,Impaktor,Lunik,1959,1959,Beendet,Erdmond
4,Sowjetunion,Lunik 3,Flyby-Sonde,Lunik,1959,1959,Beendet,Erdmond
...,...,...,...,...,...,...,...,...
262,Israel,Beresheet,"Orbiter, Lander",unbekannt,2019,2019,Beendet,Erdmond
263,Israel,Beresheet 2,"Orbiter, Lander",unbekannt,2024,–,Geplant,Erdmond
264,"Israel, Deutschland",LSAS,Lander,Israel Aerospace Industries in Kooperation mit...,2025,–,Geplant,Erdmond
265,Vereinigte Arabische Emirate,al-Amal,Orbiter,unbekannt,2020,–,Aktiv,Mars
266,Südkorea,KPLO,Orbiter,unbekannt,2022,–,Aktiv,Erdmond

In [22]:
df = df.rename(columns={"Name der Sonde":  "ID", "Missonsname/": "Missionsname"})
df

,Nation oder,ID,Typ,Missionsname,Von,Bis,Status,Missionsziele
0,Sowjetunion,Lunik 1958A,Impaktor,Lunik,1958,1958,Erd(-orbit) nie verlassen,Erdmond
1,Sowjetunion,Lunik 1,Impaktor,Lunik,1959,1959,Beendet,Erdmond
2,Sowjetunion,Lunik 1959A,Impaktor,Lunik,1959,1959,Erd(-orbit) nie verlassen,Erdmond
3,Sowjetunion,Lunik 2,Impaktor,Lunik,1959,1959,Beendet,Erdmond
4,Sowjetunion,Lunik 3,Flyby-Sonde,Lunik,1959,1959,Beendet,Erdmond
...,...,...,...,...,...,...,...,...
262,Israel,Beresheet,"Orbiter, Lander",unbekannt,2019,2019,Beendet,Erdmond
263,Israel,Beresheet 2,"Orbiter, Lander",unbekannt,2024,–,Geplant,Erdmond
264,"Israel, Deutschland",LSAS,Lander,Israel Aerospace Industries in Kooperation mit...,2025,–,Geplant,Erdmond
265,Vereinigte Arabische Emirate,al-Amal,Orbiter,unbekannt,2020,–,Aktiv,Mars
266,Südkorea,KPLO,Orbiter,unbekannt,2022,–,Aktiv,Erdmond

In [23]:
unique_raumsonden = df["Missionsziele"].unique()

In [24]:
new_rows = {
    "Nation oder": [np.nan] * len(unique_raumsonden),
    "ID": unique_raumsonden,
    "Typ": ["Himmelskörper"] * len(unique_raumsonden),
    "Missionsname": [np.nan] * len(unique_raumsonden),
    "Von": [np.nan] * len(unique_raumsonden),
    "Bis": [np.nan] * len(unique_raumsonden),
    "Status": [np.nan] * len(unique_raumsonden),
    "Missionsziele": [np.nan] * len(unique_raumsonden)
}
new_df = pd.DataFrame(new_rows)

df_knoten = pd.concat([df, new_df], ignore_index=True)

df_knoten

,Nation oder,ID,Typ,Missionsname,Von,Bis,Status,Missionsziele
0,Sowjetunion,Lunik 1958A,Impaktor,Lunik,1958.0,1958,Erd(-orbit) nie verlassen,Erdmond
1,Sowjetunion,Lunik 1,Impaktor,Lunik,1959.0,1959,Beendet,Erdmond
2,Sowjetunion,Lunik 1959A,Impaktor,Lunik,1959.0,1959,Erd(-orbit) nie verlassen,Erdmond
3,Sowjetunion,Lunik 2,Impaktor,Lunik,1959.0,1959,Beendet,Erdmond
4,Sowjetunion,Lunik 3,Flyby-Sonde,Lunik,1959.0,1959,Beendet,Erdmond
...,...,...,...,...,...,...,...,...
280,NaN,Asteroid,Himmelskörper,NaN,NaN,NaN,NaN,NaN
281,NaN,Komet 103P/Hartley 2,Himmelskörper,NaN,NaN,NaN,NaN,NaN
282,NaN,Komet 19P/Borrelly,Himmelskörper,NaN,NaN,NaN,NaN,NaN
283,NaN,Pluto,Himmelskörper,NaN,NaN,NaN,NaN,NaN
284,NaN,Komet 67P/Tschurjumow-Gerassimenko,Himmelskörper,NaN,NaN,NaN,NaN,NaN

In [27]:
df_kanten = df[["ID", "Missionsziele"]]
df_kanten = df_kanten.rename(columns={"ID": "Source", "Missionsziele": "Target"})
df_kanten

          Source   Target
0    Lunik 1958A  Erdmond
1        Lunik 1  Erdmond
2    Lunik 1959A  Erdmond
3        Lunik 2  Erdmond
4        Lunik 3  Erdmond
..           ...      ...
262    Beresheet  Erdmond
263  Beresheet 2  Erdmond
264         LSAS  Erdmond
265      al-Amal     Mars
266         KPLO  Erdmond

[267 rows x 2 columns]